.closed-style {
  background-color: #e3e3e3;
  color: #d3d3d3;
  h1{
    text-shadow: 1px 1px #fff, -1px -1px #444;
    }
}
.btn-closed-stores {
  font-weight: 400;
  font-family: $header-font;
  background-color: #BFBFBF;
  border: 1px solid #A2A2A2;
  color: white;
}
