.closed-style {
  text-shadow: 0px 1px 1px rgba(77, 77, 77, 0.23);
  color: #BFBFBF;
}

.btn-closed-stores {
  font-weight: 400;
  font-family: $header-font;
  background-color: #BFBFBF;
  border: 1px solid #A2A2A2;
  color: white;
}
