/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
// body{
//   background-color: #e74c3c;
// }

.btn-home {
    background-color: #353535;
    padding: 20px 90px;
    border-radius: 16px;
    border: 1px solid #736969;
    color: #E0CDCD;
}
.btn-home a:hover {
  border: 1px solid white;
  text-decoration: none;
  color: white;
}
.btn-home a:submit {
  border: 1px solid white;
  text-decoration: none,
}

.title-lato{
  font-weight: 300;
  font-family: $lato-font;
  color:black;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  padding-top: 30px;
}
