/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
body{
  background-color: white;
}

.btn-home {
    background-color: #353535;
    padding: 20px 90px;
    border-radius: 16px;
    border: 1px solid #736969;
    color: #E0CDCD;
}
.btn-home a:hover {
  border: 1px solid white;
  text-decoration: none;
  color: white;
}
.btn-home a:submit {
  border: 1px solid white;
  text-decoration: none,
}

.title-lato{
  font-weight: 300;
  font-family: $lato-font;
  color:black;
  font-size: 28px;
  color: white;
  text-transform: uppercase;
  padding-top: 30px;
}
.wrapper-home{
  opacity: 0;
  transform: scale(.9);
  transition: all .3s ease;

  &.is-loaded {
    opacity: 1;
    transform: scale(1);
  }
}
.increment{
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: bold;
  font-size: 40px;
}
