.pairing-background {
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to bottom, rgba(82, 82, 82, 0.49) , rgba(61, 114, 180, 0.35)), url("pic_meal.png");
}
.color-background {
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to bottom, rgba(82, 82, 82, 0.49) , rgba(61, 114, 180, 0.35)), url("pic_color.png");
}
.price-background {
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to bottom, rgba(82, 82, 82, 0.49) , rgba(61, 114, 180, 0.35)), url("pic_price.png");
}

.title{
    font-size: 19px;
    font-family: $lato-font;
    font-weight: 400;
    color: $gray;
    text-shadow: none !important;
    text-transform: uppercase;
}

.btn-back {
width: 100%;
    border-radius: 4px;
    padding: 14px;
      background-color: rgba(255, 255, 255, 0.71);
    color: #565454;
    border: 1px solid #565454;
}


.nav-white{
  color:white;
}

.nav-gray{
  color:$gray-light;
}
.sur-lg-padding {
  padding: 30px 0px;
}

.question-advancement {
  height: 5px;
  border-bottom: 1px solid #9AA7B4;
  bakcground-color: #E4E4E4;
  &.nothing {
    transition: width 1s ease;
    width: 0%;
    background-color: #585871;
  }
  &.third {
    transition: width 1s ease;
    width: 33%;
    background-color: #585871;
  }
  &.two-third {
    width: 66%;
    background-color: #585871;
    transition: width 1s ease;
  }
  &.full {
    transition: width 1s ease;
    width: 100%;
    background-color: #585871;
  }
}

.btn-question {
  width: 100%;
  background-color: rgba(226, 78, 53, 0.71);
  padding: 14px;
  color: #FFFFFF !important;
  border-radius: 4px;
  transform: scale(1);
  transition: transform .3s ease;
  &.is-clicked {
    transform: scale(.98);
    font-weight: 600;
    background-color: rgba(226, 78, 53, 0.86);
    color: white;
    box-shadow: 1px 1px 2px #D2D1D1;
  }
  & i{
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 30px;
    color: #EA816F;
    transition: color .3 ease;
    &.is-clicked {
      color: #ECDAD6;
    }
  }
}
.footer-question {
  // WHY MARGIN TOP NOT WORKING ON THIS ONE!!!!!!?
  // WHY WIDTH NOT WORKING ON SPANNSS
  margin-top: 17px;
  font-style: italic;
  font-size: 13px;
  color: gray;
  line-height: 1.7;
  & .figure {
    width:100px;
  }
  & i {
    font-size: 17px;
  }
  & .col-xs-12 {
    margin-top: 15px;
  }
}
