.container{
  background-color: white;
}

#map-show {
  border: 1px solid grey;
  width: 100%;
  height: 100vh;
  z-index: 1;
  transition: all ease 0.8s;
}
.map{
  width: 100%;
  height: 100%;
}
.map-margin-up{
  margin-top: calc(-33.33vh);
  position: relative;
}

.map-margin-down{
  position:fixed;
  margin-top: 0px;
}

.wrapper-transparent{
  background: white;
  width: 100%;
  height: 100vh;
  z-index: 4;
  transition: all ease 0.8s;
  position: relative;
}
.wrapper-margin-up{
  margin-top: -100vh;
}
.wrapper-margin-down{
  margin-top: -50vh;
}
.wine-info {
  display: flex;
  margin-bottom: 15px;

}
.wrapper-info-wine{
  position: absolute;
  bottom: 25vh;
  width: 100%;
  margin-left: 4vh;
}
.wrapper-header-show{
  background:white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.29);
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media all and (max-device-width: 480px)
{
  .map-margin-up {
    margin-top: calc(-8.5vh);
    position: relative;
  }
  .wrapper-margin-down{
    margin-top: -50vh;
  }
}
/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media all and (min-device-height: 480px) and (max-device-height: 570px)
{
  .map-margin-up {
    margin-top: calc(-38vh);
    position: relative;
  }
  .wrapper-margin-down{
    margin-top: -26.2vh;
  }
  .btn-list {width:100%;}
}
@media all and (min-device-height: 570px) and (max-device-height: 630px)
{
  .map-margin-up {
    margin-top: calc(-27vh);
    position: relative;
  }
  .wrapper-margin-down{
    margin-top: -38vh;
  }
  .btn-list {width:100%;}
}
@media all and (min-device-height: 630px) and (max-device-height: 740px)
{
  .map-margin-up {
    margin-top: calc(-36vh);
    position: relative;
  }
  .wrapper-margin-down{
    margin-top: -27vh;
  }
  .btn-list {width:100%;
  bottom: 68.5vh}
  .title-show {
     bottom: 57vh;
  }

}

.map-filter-closed {
  background-image: linear-gradient(-225deg, rgba(30,30,30,0.8) 30%, rgba(46,46,46,0.5) 80%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  z-index: 2;
}

.map-filter-open{
  background-image: transparent;
  background-size: cover;
  z-index: 2;
}

#btn-closed{
  position: fixed;
  bottom: 40px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  .fa-times-circle{
    color: black;
  }
  .fa-times-circle:active{
    color: white;
  }

}
.wine-details {
  font-size: 14px;
  opacity: 0.7;
  width: 20px;
}

.title-show {
  font-style: $lato-font;
  h3{
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 0 20px;
  }
  h4 {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  position: absolute;
  bottom: 52vh;
  width: 100%;
}
.wine-appelation{
  color: white;
}
.card-map-wine-image-container {
  background-color: white;
  position: absolute;
  bottom: -4vh;
  left: 32%;
  /* border: 1px solid rgba(0, 0, 0, 0.29); */
  /* border-radius: 10000px; */
  width: 110px;
  border-radius: 115px;
  padding: 2px;
  /* box-shadow: 0px 0 4px rgba(0, 0, 0, 0.26); */
  padding-bottom: 12px;
  img{
    width:100%;
    height: 100%;
    margin-bottom: 14px;
  }
}

.fa-show {
  margin-left: 15px;
  font-size: 15px;
  color: #6F6F6F;
  margin-top: 5px;

}

.btn-list {
  background: $alizarin;
  position: absolute;
  bottom: 68vh;
  z-index: 10;
  height: 33px;
  a {
    color: white;
    font-size: 10px;
    margin-left: 8px;
    font-weight: 100;
  }
  :active{
    color:white;
  }
  :hover{
    text-decoration: none;
  }
}

.font-awesome-show-circled {
  width: 30px;
  min-width: 30px;
  height: 30px;
  height: 30px;
  background-color: $alizarin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 14px;
}
