<div class="centered">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= link_to(questions_path) do %>
          <%= image_tag("logo_hello_wine.png", class: "pulse")  %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="title-lato">
          the best wines around you
        </div>
      </div>
    </div>
  </div>
</div>
