

<div class="hp-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      <%= image_tag("wine-finder.png")  %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="hp-title">
          Find the best wine near you
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-container">
          <div class="btn-home">
            <a href="/questions">Find it now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
