<div class="centered bg-alizarin text-center flex-center">
  <div class="wrapper-home">
    <%= link_to(questions_path) do %>
      <%= image_tag("logo_hello_wine.png",class: "hatch")  %> <!-- class: "pulse" -->
    <% end %>
    <div class="title-lato">
      <div>
        the best
      </div>
      <div class="increment">
      </div>
      <div>Wines around you</div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    i = 1

    var interval = setInterval(function() {
      $('.increment').html(i)
      if(i === <%= @wine_count %>) {
        clearInterval(interval)
      }
      i ++
    }, 1)
  </script>
<% end %>
