/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded-5 {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padded-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}
.padded-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.padded-05 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.padded-top-bottom-xs {
  padding: 10px 0px;
}
// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.bg-alizarin {
 background: #ea6153;
}

// Centering vertically in a full page
.centered{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flag{
  border-radius: 1px;
  color:white;
  font-weight:bolder;
  font-size: 10px;
  width: 60px;
  text-align: center;
  padding:5px 10px;
}
.flag-validated{
  background-color: $green;
}
.flag-pending{
  background-color: $orange;
}
.flag-cancelled{
  background-color: $red;
}

.fa-true{
  color: $green;
}
.fa-false{
  color: $red;
}

.overflow-hidden {
  overflow: hidden;
  height: 100vh;
}
