.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 20px;
  .fa{
    color:#e74c3c;
  }
  p{
    font-size: 14px;
  }
}
.card-backg{
  background-color: white;
  font-family: $lato-font;
  color: $gray-dark;
}

.card-banner {
  padding: 10px 0 30px 0;
  border-radius: 2px 2px 0 0;
  h1{
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 26px;
    margin:0;
  }
}

.img_resize{
  border-radius: 0 0 2px 2px;
  width: 100%;
  margin-left: 0px;
}
.color-open{
  color: $green;
}
.color-closing{
  color: $orange;
}
.color-closed{
  color: $red;
}

.card-element {
  h2{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
  }
}

.card-details {
  width: 100%;
  font-size: 13px;
}


#card-description {
  padding-left: 10px;
  width: 100%;
}

.card-color {
  padding-left: 0.3em;

  font-size: 9px;
  text-transform: uppercase;
}

.card-region {
  margin-top: 5px;
  font-size: 9px;
  text-transform: uppercase;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-map{
  min-height: 6em;
  background-color: #333333;
}


.dot {
  &-white {
    color: #FAD662;
  }
  &-red {
    color: #902424;
  }
  &-rose {
    color: #EA6157;
  }
}
