<div class="text-center padded-1">
<%= image_tag("wine_oclock.png", size: "186x252", alt: "Wine Oclock") %>
<h1>Sorry, all the shops are closed</h1>
<%= link_to "Back", wines_path, {class: "btn btn-primary"} %>
</div>
