<div class="text-center padded-1">
<%= image_tag("wine_oclock.png", size: "186x252", alt: "Wine Oclock") %>
<h1>Sorry, we can't find results around you</h1>
<%= link_to "Come back later", wines_path, {class: "btn btn-primary"} %>
</div>
