<div class="centered bg-grey text-center flex-center closed-style">
  <div class="text-center padded-2">
    <h1> No wines around you. What about water ?</h2>
    <%= link_to 'Try again later', "/" ,anchor: "#" %>
  </div>
</div>
